<div *ngIf="!selectedMenu"class="loading-wrapper">
  <div class="spinner-border text-primary"></div>
  <div class="loading">Loading..</div>
</div>
<div *ngIf="selectedMenu" class="app-container">
  <app-menu-item [subMenus]="selectedMenu.data.Menu"></app-menu-item>
  <div class="buttons-container">
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
      <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()"
              placement="bottom" ngbTooltip="Select a menu to display">{{selectedMenu.name}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <div *ngFor="let menu of menus">
          <button ngbDropdownItem (click)="changeMenuSelection(menu)">{{menu.name}}</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="saveCurrentMenu()" [disabled]="!selectedMenu.data.Menu.length"
            tooltipClass="custom-tooltip" placement="bottom" ngbTooltip="Edit the menu and save it, and the menu will be added to the dropdown.">Save</button>
  </div>
</div>

